src/Hanzo/Bundle/WebServicesBundle/Services/Soap/ECommerceServices/ECommerceServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
  xmlns="http://www.w3.org/ns/wsdl"
  targetNamespace="http://thydata.dk.ECommerceServices/"
  xmlns:tns="http://thydata.dk.ECommerceServices/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:s1="http://schemas.pompdelux.dk/webintegration/item"
  xmlns:s2="http://schemas.pompdelux.dk/webintegration/customer"
  xmlns:s3="http://schemas.pompdelux.dk/webintegration/inventoryOnhand"
  xmlns:s4="http://schemas.pompdelux.dk/webintegration/pricelist"
  xmlns:s5="http://schemas.pompdelux.dk/webintegration/salesOrder"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://thydata.dk.ECommerceServices/">
      <s:import namespace="http://schemas.pompdelux.dk/webintegration/item" />
      <s:import namespace="http://schemas.pompdelux.dk/webintegration/customer" />
      <s:import namespace="http://schemas.pompdelux.dk/webintegration/inventoryOnhand" />
      <s:import namespace="http://schemas.pompdelux.dk/webintegration/pricelist" />
      <s:import namespace="http://schemas.pompdelux.dk/webintegration/salesOrder" />
      <s:element name="SyncItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:item" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncItemResult" type="tns:ResponseStatus"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:Status" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="Status">
        <s:restriction base="s:string">
          <s:enumeration value="Ok" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SyncCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s2:customer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncCustomerResult" type="tns:ResponseStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncInventoryOnHand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:inventoryOnHand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncInventoryOnHandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncInventoryOnHandResult" type="tns:ResponseStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncPriceList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s4:priceList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncPriceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncPriceListResult" type="tns:ResponseStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncSalesOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s5:salesOrder" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncSalesOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SyncSalesOrderResult" type="tns:ResponseStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSalesOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eOrderNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSalesOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteSalesOrderResult" type="tns:ResponseStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="SalesOrderLockUnlock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eOrderNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="orderStatus" type="s:integer" />
            <s:element minOccurs="1" maxOccurs="1" name="sendMail" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalesOrderLockUnlockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalesOrderLockUnlockResult" type="tns:ResponseStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="SalesOrderCaptureOrRefund">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eOrderNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:decimal" nillable="true" />
            <s:element minOccurs="0" maxOccurs="1" name="initials" type="s:string" nillable="true" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalesOrderCaptureOrRefundResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalesOrderCaptureOrRefundResult" type="tns:ResponseStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="SalesOrderSetInvoiceStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eOrderNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="invoiced" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalesOrderSetInvoiceStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalesOrderSetInvoiceStatusResult" type="tns:ResponseStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalesOrderAddDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eOrderNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SalesOrderAddDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SalesOrderAddDocumentResult" type="tns:ResponseStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.pompdelux.dk/webintegration/item">
      <s:element name="item" type="s1:item" />
      <s:complexType name="item">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InventTable" type="s1:InventTable" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventTable">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemGroupId" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemGroupName" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="WebEnabled" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemName" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemType" type="s1:ItemType" />
          <s:element minOccurs="0" maxOccurs="1" name="NetWeight" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="BlockedDate" type="s:date" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="InventDim" type="s1:InventDim" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="WebDomain" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sales" type="s1:Sales" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="InventTxt" type="s1:InventTxt" />
          <s:element minOccurs="0" maxOccurs="1" name="WashInstruction" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ItemType">
        <s:restriction base="s:string">
          <s:enumeration value="Item" />
          <s:enumeration value="BOM" />
          <s:enumeration value="Service" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="InventDim">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InventColorId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InventSizeId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Sales">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceUnit" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="StandardQty" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="UnitId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventTxt">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LanguageId" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Txt" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.pompdelux.dk/webintegration/customer">
      <s:element name="customer" type="s2:customer" />
      <s:complexType name="customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustTable" type="s2:CustTable" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustTable">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountNum" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InitialsId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CustName" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressStreet" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressCity" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressZipCode" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AddressCountryRegionId" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustCurrencyCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Email" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Phone" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneLocal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneMobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TeleFax" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SalesDiscountPercent" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.pompdelux.dk/webintegration/inventoryOnhand">
      <s:element name="inventoryOnHand" type="s3:inventoryOnhand" />
      <s:complexType name="inventoryOnhand">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InventSum" type="s3:InventSum" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventSum">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastInCycle" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="InventDim" type="s3:InventQtyDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="InventQtyDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="InventColorId" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InventSizeId" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InventQtyAvailOrdered" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="InventQtyAvailOrderedDate" nillable="true" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="InventQtyAvailPhysical" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="InventQtyPhysicalOnhand" nillable="true" type="s:decimal" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.pompdelux.dk/webintegration/pricelist">
      <s:element name="priceList" type="s4:pricelist" />
      <s:complexType name="pricelist">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="SalesPrice" type="s4:SalesPrice" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SalesPrice">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AmountCur" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Currency" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="CustAccount" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InventColorId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InventSizeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceDate" nillable="true" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceDateTo" nillable="true" type="s:date" />
          <s:element minOccurs="0" maxOccurs="1" name="PriceUnit" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Quantity" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitId" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.pompdelux.dk/webintegration/salesOrder">
      <s:element name="salesOrder" type="s5:salesOrder" />
      <s:complexType name="salesOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="salesTable" type="s5:salesTable" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="salesTable">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustAccount" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EOrderNumber" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PaymentId" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HomePartyId" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FreightType" nillable="true" type="s5:FreightType" />
          <s:element minOccurs="1" maxOccurs="1" name="SalesGroup" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SalesResponsible" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrencyCode" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryCountryRegionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryCompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryStreet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryZipCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FreightFeeAmt" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Completed" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TransactionType" nillable="true" type="s5:TransactionType" />
          <s:element minOccurs="1" maxOccurs="1" name="CustPaymMode" nillable="true" type="s5:CustPaymMode" />
          <s:element minOccurs="0" maxOccurs="1" name="GiftVoucherAmt" nillable="true" type="s:decimal"/>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SalesLine" type="s5:SalesLine" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="FreightType">
        <s:restriction base="s:integer">
          <s:enumeration value="10" />
          <s:enumeration value="11" />
          <s:enumeration value="20" />
          <s:enumeration value="50" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="TransactionType">
        <s:restriction base="s:string">
          <s:enumeration value="Write" />
          <s:enumeration value="Delete" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="CustPaymMode">
        <s:restriction base="s:string">
          <s:enumeration value="DanKort" />
          <s:enumeration value="VISA" />
          <s:enumeration value="MasterCard" />
          <s:enumeration value="Bank" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="SalesLine">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ItemId" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SalesPrice" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SalesQty" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SalesUnit" nillable="true" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InventColorId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InventSizeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LineDiscAmt" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="LineDiscPercent" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesLineText" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SyncItemSoapIn">
    <wsdl:part name="parameters" element="tns:SyncItem" />
  </wsdl:message>
  <wsdl:message name="SyncItemSoapOut">
    <wsdl:part name="parameters" element="tns:SyncItemResponse" />
  </wsdl:message>
  <wsdl:message name="SyncCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:SyncCustomer" />
  </wsdl:message>
  <wsdl:message name="SyncCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:SyncCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="SyncInventoryOnHandSoapIn">
    <wsdl:part name="parameters" element="tns:SyncInventoryOnHand" />
  </wsdl:message>
  <wsdl:message name="SyncInventoryOnHandSoapOut">
    <wsdl:part name="parameters" element="tns:SyncInventoryOnHandResponse" />
  </wsdl:message>
  <wsdl:message name="SyncPriceListSoapIn">
    <wsdl:part name="parameters" element="tns:SyncPriceList" />
  </wsdl:message>
  <wsdl:message name="SyncPriceListSoapOut">
    <wsdl:part name="parameters" element="tns:SyncPriceListResponse" />
  </wsdl:message>
  <wsdl:message name="SyncSalesOrderSoapIn">
    <wsdl:part name="parameters" element="tns:SyncSalesOrder" />
  </wsdl:message>
  <wsdl:message name="SyncSalesOrderSoapOut">
    <wsdl:part name="parameters" element="tns:SyncSalesOrderResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSalesOrderSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSalesOrder" />
  </wsdl:message>
  <wsdl:message name="DeleteSalesOrderSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSalesOrderResponse" />
  </wsdl:message>

  <wsdl:message name="SalesOrderLockUnlockSoapIn">
    <wsdl:part name="parameters" element="tns:SalesOrderLockUnlock" />
  </wsdl:message>
  <wsdl:message name="SalesOrderLockUnlockSoapOut">
    <wsdl:part name="parameters" element="tns:SalesOrderLockUnlockResponse" />
  </wsdl:message>
  <wsdl:message name="SalesOrderCaptureOrRefundSoapIn">
    <wsdl:part name="parameters" element="tns:SalesOrderCaptureOrRefund" />
  </wsdl:message>
  <wsdl:message name="SalesOrderCaptureOrRefundSoapOut">
    <wsdl:part name="parameters" element="tns:SalesOrderCaptureOrRefundResponse" />
  </wsdl:message>

  <wsdl:message name="SalesOrderSetInvoiceStatusSoapIn">
    <wsdl:part name="parameters" element="tns:SalesOrderSetInvoiceStatus" />
  </wsdl:message>
  <wsdl:message name="SalesOrderSetInvoiceStatusSoapOut">
    <wsdl:part name="parameters" element="tns:SalesOrderSetInvoiceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="SalesOrderAddDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:SalesOrderAddDocument" />
  </wsdl:message>
  <wsdl:message name="SalesOrderAddDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:SalesOrderAddDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="ECommerceServicesSoap">
    <wsdl:operation name="SyncItem">
      <wsdl:input message="tns:SyncItemSoapIn" />
      <wsdl:output message="tns:SyncItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncCustomer">
      <wsdl:input message="tns:SyncCustomerSoapIn" />
      <wsdl:output message="tns:SyncCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncInventoryOnHand">
      <wsdl:input message="tns:SyncInventoryOnHandSoapIn" />
      <wsdl:output message="tns:SyncInventoryOnHandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncPriceList">
      <wsdl:input message="tns:SyncPriceListSoapIn" />
      <wsdl:output message="tns:SyncPriceListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncSalesOrder">
      <wsdl:input message="tns:SyncSalesOrderSoapIn" />
      <wsdl:output message="tns:SyncSalesOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesOrder">
      <wsdl:input message="tns:DeleteSalesOrderSoapIn" />
      <wsdl:output message="tns:DeleteSalesOrderSoapOut" />
    </wsdl:operation>

    <wsdl:operation name="SalesOrderLockUnlock">
      <wsdl:input message="tns:SalesOrderLockUnlockSoapIn" />
      <wsdl:output message="tns:SalesOrderLockUnlockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalesOrderCaptureOrRefund">
      <wsdl:input message="tns:SalesOrderCaptureOrRefundSoapIn" />
      <wsdl:output message="tns:SalesOrderCaptureOrRefundSoapOut" />
    </wsdl:operation>

    <wsdl:operation name="SalesOrderSetInvoiceStatus">
      <wsdl:input message="tns:SalesOrderSetInvoiceStatusSoapIn" />
      <wsdl:output message="tns:SalesOrderSetInvoiceStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SalesOrderAddDocument">
      <wsdl:input message="tns:SalesOrderAddDocumentSoapIn" />
      <wsdl:output message="tns:SalesOrderAddDocumentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ECommerceServicesSoap" type="tns:ECommerceServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncItem">
      <soap:operation soapAction="http://thydata.dk.ECommerceServices/SyncItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncCustomer">
      <soap:operation soapAction="http://thydata.dk.ECommerceServices/SyncCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncInventoryOnHand">
      <soap:operation soapAction="http://thydata.dk.ECommerceServices/SyncInventoryOnHand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncPriceList">
      <soap:operation soapAction="http://thydata.dk.ECommerceServices/SyncPriceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncSalesOrder">
      <soap:operation soapAction="http://thydata.dk.ECommerceServices/SyncSalesOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesOrder">
      <soap:operation soapAction="http://thydata.dk.ECommerceServices/DeleteSalesOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SalesOrderLockUnlock">
      <soap:operation soapAction="http://thydata.dk.ECommerceServices/SalesOrderLockUnlock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesOrderCaptureOrRefund">
      <soap:operation soapAction="http://thydata.dk.ECommerceServices/SalesOrderCaptureOrRefund" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SalesOrderSetInvoiceStatus">
      <soap:operation soapAction="http://thydata.dk.ECommerceServices/SalesOrderSetInvoiceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesOrderAddDocument">
      <soap:operation soapAction="http://thydata.dk.ECommerceServices/SalesOrderAddDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ECommerceServicesSoap12" type="tns:ECommerceServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SyncItem">
      <soap12:operation soapAction="http://thydata.dk.ECommerceServices/SyncItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncCustomer">
      <soap12:operation soapAction="http://thydata.dk.ECommerceServices/SyncCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncInventoryOnHand">
      <soap12:operation soapAction="http://thydata.dk.ECommerceServices/SyncInventoryOnHand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncPriceList">
      <soap12:operation soapAction="http://thydata.dk.ECommerceServices/SyncPriceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncSalesOrder">
      <soap12:operation soapAction="http://thydata.dk.ECommerceServices/SyncSalesOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSalesOrder">
      <soap12:operation soapAction="http://thydata.dk.ECommerceServices/DeleteSalesOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesOrderLockUnlock">
      <soap12:operation soapAction="http://thydata.dk.ECommerceServices/SalesOrderLockUnlock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesOrderCaptureOrRefund">
      <soap12:operation soapAction="http://thydata.dk.ECommerceServices/SalesOrderCaptureOrRefund" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesOrderSetInvoiceStatus">
      <soap12:operation soapAction="http://thydata.dk.ECommerceServices/SalesOrderSetInvoiceStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalesOrderAddDocument">
      <soap12:operation soapAction="http://thydata.dk.ECommerceServices/SalesOrderAddDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ECommerceServices">
    <wsdl:port name="ECommerceServicesSoap" binding="tns:ECommerceServicesSoap">
      <soap:address location="http://www.pompdelux.dk/soap/ECommerceServices/" />
    </wsdl:port>
    <wsdl:port name="ECommerceServicesSoap12" binding="tns:ECommerceServicesSoap12">
      <soap12:address location="http://www.pompdelux.dk/soap/ECommerceServices/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
